<% include ../partials/boilerplate %>


<div class='single-exercise'>
<% console.log('in the view')%>
<h3><%= workout[1].title %><h3> 
    <%  workout[0].forEach((exercise) => { %>
        <h4><%= exercise.name %></h4>
    <% }); %>
  </div>
    

  <a href='/workouts'>Return to workouts</a>

<% include ../partials/end %>