<% include ../partials/boilerplate %>

<form method='POST' action='/workouts'>
  <input title='title' type='text' placeholder='Workout' />
  <input type='submit' value='Add it!' />
</form>



<% include ../partials/end %>