<% include ../partials/boilerplate %>

<form method='POST' action='/workouts/<%= id %>?_method=PUT'>
  <input name='title' type='text' value='<%= workout[1].title %>' />
  <input type='submit' value='Edit it!' />
</form>

<% include ../partials/end %>