<% include ../partials/boilerplate %>

<form method='POST' action='/exercises'>
  <input name='name' type='text' placeholder='Exercise' />
  <input type='submit' value='Add it!' />
</form>

<% include ../partials/end %>